* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.2;
    font-family: $Poppins;
    font-weight: 500;
    font-size: 0.93rem;
}

p {
    font-size: 0.87rem;
}

img, video, iframe {
    max-inline-size: 100%;
    block-size: auto;
}